# See https://help.github.com/articles/ignoring-files/ for more about gitignore rules.

node_modules/
coverage/
.next/
out/
build
.output
.DS_Store
*.pem
.cache
.local
.env
.env.*
!.env.example
.vercel
*.tsbuildinfo
next-env.d.ts
*.zip
*.tar.gz
*.tar.xz
.macaly/skills
.sandbox
.profile
.bashrc
.bash_logout
.bash_profile
.bash_history
.npm
.npmrc
.config
.sudo_as_admin_successful
.tanstack
.gitconfig
.macaly-git-wrapper.sh
